.Tilt {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;

}

.git-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 3rem;
}
.git-container ul{
    transform: scale(1.30);
    display:inline-block;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;
    
}

/*__________________  */
.animation-fadein{
    animation: logo-load 2000ms ;
}

@keyframes logo-load {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}